babel==2.9.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.5"
click==7.1.2; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.5"
future==0.18.2; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.5"
gitdb==4.0.5; python_version >= "3.5"
gitpython==3.1.13; python_version >= "3.5"
htmlmin==0.1.12; python_version >= "2.7"
jinja2==2.11.3; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.5"
joblib==1.0.1; python_version >= "3.6"
jsmin==2.2.2; python_version >= "2.7"
livereload==2.6.3; python_version >= "3.5"
lunr==0.5.8; python_version >= "3.5"
markdown==3.3.3; python_version >= "3.6"
markupsafe==1.1.1; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.5"
mkdocs-git-revision-date-localized-plugin==0.8; python_version >= "3.5"
mkdocs-material-extensions==1.0.1; python_version >= "3.5"
mkdocs-material==6.2.8
mkdocs-minify-plugin==0.4.0; python_version >= "2.7"
mkdocs==1.1.2; python_version >= "3.5"
nltk==3.5; python_version >= "3.5"
pygments==2.8.0; python_version >= "3.5"
pymdown-extensions==8.1.1; python_version >= "3.6"
pytz==2021.1; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.5"
pyyaml==5.4.1; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
regex==2020.11.13; python_version >= "3.5"
six==1.15.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.5"
smmap==3.0.5; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.5"
tornado==6.3.2; python_version >= "3.5"
tqdm==4.56.2; python_version >= "3.5" and python_full_version < "3.0.0" or python_version >= "3.5" and python_full_version >= "3.4.0"
